absl-py==0.2.2
astor==0.6.2
beautifulsoup4==4.6.0
bleach==1.5.0
certifi==2017.4.17
chakin==0.0.6
chardet==3.0.4
cssselect==1.0.1
elasticsearch==6.3.0
feedfinder2==0.0.4
feedparser==5.2.1
future==0.16.0
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
html5lib==0.9999999
idna==2.5
isodate==0.6.0
jieba3k==0.35.1
Keras==2.1.6
lxml==3.8.0
Markdown==2.6.11
newspaper3k==0.2.2
nltk==3.2.1
numpy==1.14.5
olefile==0.44
pandas==0.23.4
Pillow==4.2.1
progressbar2==3.38.0
protobuf==3.6.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-telegram-bot==5.0.0
python-utils==2.3.0
pytz==2018.5
PyYAML==3.12
rdflib==4.2.2
requests==2.18.2
requests-file==1.4.2
rgcn==0.0.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.10.0
sklearn==0.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Theano==0.9.0
tldextract==2.1.0
urllib3==1.22
Werkzeug==0.14.1
wget==3.2
